<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CURSO VUE</title>
    <link rel="stylesheet" href="../../bootstrap.css">
</head>
<!--<div id="app">
     <input type="text" v-model="newschool" @keyup.enter="addSchool">
    <button @click="addSchool">Añadir</button>
    <ul>
        <li v-for="(school,index) in schools" :key="index">
            <input type="number" v-model="school.alumnos">
            {{school.nombre}}--><!-- {{school.alumnos}}
            <span v-if="school.alumnos > 650">Muy grande</span>
            <button @click="addNumero(index)">+</button>
            <button @click="undoNumero(index)">-</button>
        </li>
    </ul>
    <h2>Total de alumnos:{{CalculaTotal}}</h2> 
</div>-->
<div id="app" class="container mt-5">
    <h1>Bootstrp</h1>
    <div class="bg-danger" :class="['p-3','text-white']">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Laboriosam quibusdam, eos deserunt reprehenderit nihil mollitia facere aperiam nesciunt non velit, 
            sunt debitis quia quasi beatae molestias obcaecati iste nam. Sunt.
    </div>
</div>
<script src="../../vue.js"></script>
<script src="ejemplo3.js"></script>
</html>